/* animation */
:root{
  --blue: #007bff;
  --purple: #6f42c1;
  --orange: #fd7e14;
  --darkgolden: #be9e03;
  --darkturquoise: #029fcf;
}
.logo{
  animation: logo-run 5s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}
html{
  scroll-behavior: smooth;
}
.col-sm{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.gradient-hover{
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, var(--darkgolden), var(--purple), var(--orange), var(--purple), var(--blue) 50%, white 50%);
  background-clip: border-box;
  -webkit-background-clip: border-box;;
  -webkit-text-fill-color: black;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease-in-out;
  min-width: 240px;
  border: 1px solid black;
}

.gradient-hover:hover{
  background-position: 0 100%;
  animation: gradient 5s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.5rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
  background: linear-gradient(64deg, var(--darkgolden), var(--purple), var(--orange), var(--purple), var(--blue), var(--darkturquoise) 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.navbar .navbar-nav .nav-link:hover {
  background-position: 0 100%;
  animation: gradient 5s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}
@keyframes gradient {
  0%{background-position:0% 58%}
  50%{background-position:100% 43%}
  100%{background-position:0% 58%}
}

@keyframes logo-run{
  0%{transform: scale(1.5);}
  50%{
    transform: scale(2.5);}
  100%{transform: scale(1);}
}

/*============= SECTION =============*/
.navbar {
  text-transform: uppercase;
  background-color: #000;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}
.navbar-brand > img {
  height: 1.8rem;
}
.navbar-nav .nav-item {
  padding-right: 0.5rem;
}

.home-inner {
  background-image: url(./img/computers.png);
  background-size: contain;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}
.caption h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
}
.caption h3 {
  padding-bottom: 1rem;
}

/* Education */
#education {
  padding: 4rem;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-top: 1rem;
}

/* Course section */
#course {
  background-color: lightgray;
}
/* Features */
.jumbotrone {
  color: #000;
  margin: 0;
  padding: 0;
}
.features-list {
  list-style: none;
}
.jumbotrone > .line {
  margin-bottom: 0;
}
/* Clients */
.client {
  border-radius: 50%;
  max-width: 90%;
}
.blockquoute {
  width: 70%;
  margin: 0 auto;
}
@media all and (max-width: 768px) {
  .client {
    max-width: 30vw;
  }
}
/* footer */
footer,
footer a {
  background-color: lightgray;
  color: white;
}

footer img {
  height: 2rem;
}

footer a:hover,
footer p,
footer h3 {
  color: black;
}

form {
  padding: 2rem 4rem;
}


/* .narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
} */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
